<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 🌙 WE WANT MOOON 🌙
        link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet")
        link(href="./css/style.scss" rel="stylesheet")
    body
        .wrapper 
            .header
                .notification-bar
                    | sup
                .nav-title
                    | nav
            .message-list
                .yours.messages
                    .avatar
                    .bubble
                        .username someone else
                        .reply-mention
                            .username Derx
                            .content Parang here
                        .content Sup
                        .post-date 12:30 AM
                .yours.messages
                    .avatar
                    .bubble
                        .username Derx
                        .content Yo
                        .post-date 14:15 AM
                .self.messages
                    .avatar
                    .bubble
                        .username J
                        .content hi
                        .post-date 13:30 PM
                    //- .bubble
                    //-     .username J
                    //-     .content We want mooon!
                    //-     .post-date 13:30 PM


            .footer



        script(src="./index.js")